<app-main-header></app-main-header>
<app-sub-header></app-sub-header>

<div class="main-container">
  <div class="store-cover-pic">
    <div class="db"></div>
    <div class="store-logo-pic"></div>
  </div>
  <div class="width-control">
    <div class="store-details">
      <h1 class="store-name">{{ business_name }}</h1>
      <h5 class="store-cap">Business caption</h5>
      <div class="store-action-core">
        <!-- Share -->
        <!-- View on Social Media -->
        <!-- Add to wishlist -->
      </div>
      <div class="store-dets-core">
        <div class="store-tabs">
          <div class="tab-top">
            <ul>
              <li class="tab-trig selected-trig" id="tab-one-trig">
                Products
              </li>
              <li class="tab-trig" id="tab-two-trig">
                Reviews
              </li>
              <li class="tab-trig" id="tab-three-trig">
                Other details
              </li>
              <li class="tab-trig" id="tab-four-trig">
                Custom Order
              </li>
            </ul>
          </div>
          <div class="tab-container">
            <div class="tab-one tabs">
                <h4 class="tab-heads">Products</h4>
                <div class="products-core">
                  <div class="table">
                    <table class="table table-striped">
                      <tr>
                        <th>
                          Name
                        </th>
                        <th>
                          Price
                        </th>
                        <th>
                          Discount
                        </th>
                        <th>
                          Action
                        </th>
                      </tr>
                      <tr>
                        <td>
                          Item name
                        </td>
                        <td>
                          Item price
                        </td>
                        <td>
                          40%
                        </td>
                        <td>
                          <span class="a-cart-ico"><i class="fas fa-cart-plus"></i></span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Item name
                        </td>
                        <td>
                          Item price
                        </td>
                        <td>
                          40%
                        </td>
                        <td>
                          <span class="a-cart-ico"><i class="fas fa-cart-plus"></i></span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <button class="order-btn">
                    ORDER NOW
                  </button>
                </div>
            </div>
            <div class="tab-two tabs">
              <h4 class="tab-heads">Reviews</h4>

              <div class="rev-core">
                <div class="write-rev">
                  <div class="w-r-top">
                      <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                  </div>
                  <div class="w-r-btm">
                    <textarea class="w-r-text" placeholder="Write your review here.. "></textarea>
                  </div>
                  <div class="w-r-btn">
                    <button class="rev-submit-btn">
                      SUBMIT
                    </button>
                  </div>
                </div>

                <div class="rev">
                  <div class="rev-top">
                    <div class="rev-img">
                      <div class="r-img"></div>
                      <div class="r-name"><h6>Name</h6></div>
                    </div>
                    <div class="rev-rating">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                    </div>
                  </div>
                  <div class="rev-btm">
                    <p class="review">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa voluptatem repellat rem deleniti amet dignissimos voluptate vitae! Ipsam aliquam fugit recusandae nam quod voluptatum eligendi sapiente ducimus nobis. Inventore dolores placeat sequi earum illo rerum architecto distinctio odio. Voluptates!
                    </p>
                  </div>
                </div>

                <div class="rev">
                  <div class="rev-top">
                    <div class="rev-img">
                      <div class="r-img"></div>
                      <div class="r-name"><h6>Name</h6></div>
                    </div>
                    <div class="rev-rating">
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                    </div>
                  </div>
                  <div class="rev-btm">
                    <p class="review">
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae ipsa voluptatem repellat rem deleniti amet dignissimos voluptate vitae! Ipsam aliquam fugit recusandae nam quod voluptatum eligendi sapiente ducimus nobis. Inventore dolores placeat sequi earum illo rerum architecto distinctio odio. Voluptates!
                    </p>
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-three tabs">
                <h4 class="tab-heads">About</h4>

                <div class="description">
                  <h6 class="sub-heads">Description</h6>
                  <div class="desc-p">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis at culpa dolores, iure ipsum aut amet alias modi inventore. Eos veniam vero saepe excepturi laborum possimus rem animi pariatur. Incidunt.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis at culpa dolores, iure ipsum aut amet alias modi inventore. Eos veniam vero saepe excepturi laborum possimus rem animi pariatur. Incidunt.</p>
                  </div>
                </div>
            </div>
            <div class="tab-four tabs">
                <h4 class="tab-heads">Custom Order</h4>

                <div class="description">
                  <h6 class="sub-heads">You can request a custom made order for you !</h6>
                  <div class="desc-p">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis at culpa dolores, iure ipsum aut amet alias modi inventore. Eos veniam vero saepe excepturi laborum possimus rem animi pariatur. Incidunt.</p>
                  </div>
                </div>

                <h6 class="sub-heads">Upload a jpg or excel or pdf file containing the details of your order</h6>

                <label for="custom-order-file" class="custom-order-label">
                  <input type="file" name="custom-order-file" id="custom-order-file" hidden (change)='customFileUploaded($event)'>
                  <h6>Click here to upload</h6>
                </label>
                <button class="custom-order-submit-btn" (click)='requestCustomOrder()'>Request Order</button>
            </div>
          </div>
        </div>
        <!-- Offers of the store -->
        <div class="store-offers">
          <h4>Offers from this store</h4>
          <div class="offer">
            <h5 class="offer-title">
              Offer Title
            </h5>
            <p class="offer-desc">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam voluptas exercitationem adipisci tempore explicabo possimus, mollitia distinctio officiis et corporis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>